html,body,#app{
    height:100%;
}

// scrollBar

::-webkit-scrollbar{
    width:10px;
}

::-webkit-scrollbar-track{
    box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background   : #ededed;
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
    background   : #535353;
}
::-webkit-scrollbar-thumb:hover{
  background: #333;
}
::-webkit-scrollbar-corner{
  background: #179a16;
}